<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profil2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-avatar class="poto-profil">
    <img alt="Silhouette of a person's head" src="../../assets/img/janna.jpeg" />
  </ion-avatar>

  <div class="ion-text-center">
    <h2>Nurjanna</h2>
    <h2>Mahasiswa</h2>
    <h2><a href="https://www.instagram.com/nurjanna_023">@nurjanna_023</a></h2>
    <p></p>
    <p><a href="hhttps://www.tiktok.com/@nurjanna_023">@nurjanna_023</a></p>
  </div>
    
  

  
</ion-content>


